* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* hides scrollbar */
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

:root {
  font-family: 'Press Start 2P', cursive;
  --board-size: min(60vh, 60vw);
  --grid-size: min(6vh, 6vw);
  --max-ship-size : 5;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/ocean-background.png");
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start,
.name-input,
.pass-device,
.select-player,
.win-popup,
.game-display__player {
  max-width: min(95vh, 95vw);
  max-height: min(95vw, 95vh);
  background-color: white;
  position: relative;
  padding: 1.5rem;
  display: grid;
  place-items: center;
  gap: 1rem;
  text-align: center;
}

.start__title {
  margin: 0.5rem;
}

.start__button,
.name-input__button,
.place-ships__button,
.select-player__button {
  width: 11rem;
  padding: 0.5rem;
  overflow: scroll;
}

.name-input__text-input {
  width: min(17rem, 100%);
  padding: 0.5rem;
  text-align: center;
}

.place-ships {
  background: white;
  padding: 1.5rem;
  display: grid;
  place-items: center;
  gap: 1rem;
  text-align: center;
}

.place-ships__board,
.game-display__player-board {
  height: var(--board-size);
  width: var(--board-size);
  outline: 0.2rem solid gray;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.place-ships__grid {
  display: block;
  outline: 0.1rem solid lightgray;
}

.place-ships__ship-container {
  display: grid;
  position: absolute;
  background-color: lightgray;
  outline: gray solid 0.2rem;
  background-color: lightgray;
  outline-offset: -0.1rem;
}

.place-ships__ship-grid {
  height: var(--grid-size);
  width: var(--grid-size);
}

.game-display {
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

.game-display__grid {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid lightgray;
}

.icon__github {
  position: absolute;
  bottom: 0.5rem;
}

.icon__github:hover {
  transform: scale(1.1);
}

/* .name-input grid-template start */
.name-input {
grid-auto-rows: auto auto;
}

.name-input__title {
  grid-column: 1/3;
}

.name-input__text-input {
  grid-column: 1/2;
}

.name-input__auto-label {
  grid-column: 2/3;
}

.name-input__button {
  grid-column: 1/3;
}
/* .name-input grid-template end */

/* .place-ships grid-template start */
.place-ships {
  grid-template: 
  "a a" 2rem
  "c c" 2rem
  "b b" auto
  "d e" 4rem / auto auto;
}

.place-ships__title {
  grid-area: a;
}

.place-ships__board {
  grid-area: b;
}

.place-ships__desc {
  grid-area: c;
}

.place-ships__button--submit {
  grid-area: d;
}

.place-ships__button--randomize {
  grid-area: e;
}
/* .place-ships grid-template end */

/* .game-display grid-template start */
.game-display {
  grid-auto-flow: column;
}

.game-display__player {
  display: grid;
  grid-template: 
  "a" 2rem
  "b" auto
}

.game-display__player-name {
  grid-area: a;
}

.game-display__player-board {
  grid-area: b;
}

/* .game-display grid-template end */

/* utility classes */
.grid-row {
  grid-auto-flow: column;
}

.grid-column {
  grid-auto-flow: row;
}

.hidden {
  display: none;
}

.inactive {
  filter: brightness(80%);
}

.miss {
  font-size: 0.5rem;
}

.sunk {
  background-color: lightgray;
}

.reveal {
  background-color: gray;
}